
@{
    ViewBag.Title = "Day23";

    var list = ViewBag.list;
}

<h2>Day23</h2>

<form style="margin-left:10px;">
    <h1>請入使用者資料</h1>
    <div class="form-group">
        <label>帳號</label>
        <input type="text" class="form-control" id="Account" name="account" placeholder="輸入帳號" />
        <small>請輸入英數字</small>
    </div>
</form>